html, body {
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    -ms-touch-action: none;
    background: #424242;
}

.hidden {
	display: none !important;
}

#instruct {
    padding-top: 10px;
    color: #babbbc;
    font-weight: bold;
}

#renderCanvas {
    width: 90%;
    height: 100%;
	outline: none;
    border: 1px solid grey;	
}

#clip-list {
    color:#676868;
    font-weight: bold;
}